<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<p>
  <strong>Products:</strong>
  <% @vendor.product_vendors.each do |product_vendor| %>
    <tr>
      <td><%= product_vendor.product.name %></td>
      <td><%= product_vendor.price %></td>
      <td>|</td>
  <% end %>
  </tr>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
