<!DOCTYPE html>
<html>
  <head>
    <title>DNJ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <h1> DNJ </h1>
    <%= link_to "Products", products_path %>
    <%= link_to "Vendors", vendors_path%>
    <%= link_to "Product Vendors", product_vendors_path%>
  </div>
    <%= yield %>
  </body>
</html>
